/bin
/obj
.kiro
.vscode
*.suo
*.user
*.cache
*.csproj.*
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates
*.log
*.vspscc
*.vssscc
*.pdb
*.cache
*.ilk
*.binlog
[Oo]bj/[Oo]bj/
[Bb]in/
[Oo]bj/
[Bb]in/
*.sdf
*.opensdf
*.suo
*.tgz
*.VisualState.xml